.pokemon_type {
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
    margin: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.25rem;
}

.pokemon_type--normal {
    background-color: var(--colorPrimaryLight);
}

.pokemon_type--fire {
    background-color: #ff774e;
}

.pokemon_type--flying {
    color: var(--colorTextLight);
    background: #78b4ff;
    background: linear-gradient(180deg, #78b4ff 50%, #566171 50%);
}

.pokemon_type--water {
    color: var(--colorTextLight);
    background-color: royalblue;
}

.pokemon_type--bug {
    color: var(--colorTextLight);
    background-color: green;
}

.pokemon_type--grass {
    background-color: greenyellow;
}

.pokemon_type--poison {
    background-color: plum;
}

.pokemon_type--ground {
    background: #8f4e1d;
    background: linear-gradient(180deg, #8f4e1d 50%, #543004 50%);
    color: var(--colorTextLight);
}

.pokemon_type--psychic {
    background: #a832d6;
    background: linear-gradient(45deg, #a832d6 50%, #c838c5 50%);
    color: var(--colorTextLight);
}

.pokemon_type--rock {
    background-color: #677c9b;
    color: var(--colorTextLight);
}

.pokemon_type--electric {
    background-color: #ffed4e;
}

.pokemon_type--fighting {
    background: #ff3737;
    background: linear-gradient(45deg, #ff3737 50%, #3838c8 50%);
    color: var(--colorTextLight); 
}

.pokemon_type--steel {
    background: #7b94c3;
    background: linear-gradient(45deg, #7b94c3 20%, #6169d6 80%);
}

.pokemon_type--ice {
    background: #a0d0ff;
    background: linear-gradient(180deg, #a0d0ff 20%, #7d85ff 80%); 
}

.pokemon_type--ghost {
    background: #ffffff;
    background: radial-gradient(circle, #ffffff 40%, #dfdfdf 100%); 
}

.pokemon_type--fairy {
    background-color: #ffadad;
}

.pokemon_type--dragon {
    background: #ffe277;
    background: linear-gradient(180deg, #ffe277 50%, #ffc400 50%); 
}

.pokemon_type--dark {
    background-color: #340041;
    color: var(--colorTextLight);
}