.app_content__area {
    overflow-x: auto;
    padding: 1rem;
    box-shadow: -2px -2px 9px 0px #3b3b3b;
    background-color: var(--colorBackgroundLight);
    --notchSize: 1rem;
    clip-path: polygon(var(--notchSize) 0%, 100% 0, 100% 100%, 0 100%, 0% var(--notchSize));
}

.shadow_wrapper {
    grid-area: main_content;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}