:root {
  --colorPrimary: #EF5350;
  --colorPrimaryLight: #ff867a;
  --colorPrimaryDark: #b61825;
  --colorSecondary: #26C6DA;
  --colorSecondaryLight: #6ff9ff;
  --colorSecondaryDark: #0095a8;
  --colorTextLight: #ffffff;
  --colorTextDark: #222222;
  --colorBackgroundLight: #ffffff;
  --colorBackgroundShadow: #333333;
  --colorDisabled: #bebebe;
  --notchBigSize: 10px;
}

.App {
  overflow: hidden;
  height: 100vh;
  background-color: var(--colorPrimary);
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 64px 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "menu_left top_bar"
    "menu_left main_content";
}

.App-link {
  color: var(--colorSecondary);
}

